@layer components {
  .talk-header-title {
    font-size: 56px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
  }

  .talk-cards-div,
  .talk-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem;
  }

  .talk-container {
    gap: 1rem 3rem;
  }

  .subTitle,
  .talk-header-subtitle {
    color: var(--color-subtitle);
  }

  @media (max-width: 768px) {
    .talk-header-title {
      font-size: 26px;
      text-align: center;
    }

    .talk-header-subtitle {
      font-size: 16px;
      line-height: normal;
      text-align: center;
    }
  }
}
