@layer components {
  .meter {
    height: 20px;
    position: relative;
    background-color: var(--color-progress-bg);
    border-radius: 25px;
    overflow: hidden;
  }

  .meter > span {
    display: block;
    height: 100%;
    border-radius: 20px;
    background-color: var(--color-progress-span);
  }

  .skill {
    line-height: 3.5vw;
  }

  .skill-bars {
    font-size: 28px;
    width: 40%;
  }

  .skills-container {
    display: flex;
    width: 90%;
    padding: 20px 10px;
    margin: 2rem auto 0;
    gap: 2rem;
  }

  .skills-container > * {
    flex: 1;
    margin-bottom: 30px;
  }

  .skills-image > img {
    margin-left: 80px;
    max-width: 90%;
    height: auto;
  }

  @media (max-width: 1456px) {
    .skills-bar {
      line-height: 4rem;
    }

    .skills-image {
      display: none;
      order: 2;
    }
  }

  @media (max-width: 768px) {
    .skills-container {
      flex-direction: column;
    }

    .skills-bar {
      line-height: 3rem;
      margin: 20px;
    }

    .skills-image {
      display: none;
      order: 2;
    }
  }
}
