@layer components {
  #topButton {
    visibility: hidden;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--color-button);
    color: var(--color-text-dark);
    cursor: pointer;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    transition: background-color 0.2s ease-in-out;
  }

  #topButton:hover {
    background-color: var(--color-top-button-hover);
  }
}
