@layer components {
  .centerContent {
    text-align: center;
    margin: 0 auto;
    display: block;
    padding: 1.5rem;
  }

  .tw-main-div,
  .twitter-component {
    margin: 0 15px 15px;
    width: auto;
    padding: 1.5rem;
  }

  .timeline-Header-title {
    font-size: 56px !important;
    font-weight: 100 !important;
  }
}
