@layer components {
  .blog-container {
    position: relative;
    border-radius: 10px;
    color: var(--color-blog-card-container);
    background-color: var(--color-light-background-1);
    box-shadow: 0 0 36px var(--shadow-light);
    cursor: pointer;
    height: 200px;
  }

  .blog-card {
    display: block;
    position: relative;
    height: 100%;
    border-radius: 4px;
    text-decoration: none;
    background-color: transparent;
    overflow: hidden;
    z-index: 0;
  }

  .blog-card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background-color: var(--color-button);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.4s ease-out;
  }

  .blog-card:hover::before {
    transform: scale(30);
  }

  .blog-title {
    color: var(--color-blog-title);
    font-size: 1.375rem;
    line-height: 24px;
    font-weight: 700;
    margin: 32px 20px 14px;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .small,
  .small-dark {
    font-size: 1.063rem;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0 20px;
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    color: var(--color-card-subtitle);
  }

  .small-dark,
  .dark-mode .small,
  .dark-mode .blog-title {
    color: var(--color-text-dark) !important;
  }

  .blog-card:hover > .small,
  .blog-card:hover > .small-dark {
    transition: color 0.3s ease-out;
    color: var(--color-blog-hover-small);
  }

  .blog-card:hover > h3 {
    transition: color 0.3s ease-out;
    color: var(--shadow-dark-2);
  }

  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    background-color: var(--color-button);
    border-radius: 0 4px 0 32px;
  }

  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: var(--color-text-dark);
    font-family: courier, monospace;
  }

  .blog-card-shadow {
    box-shadow: 1px 0 20px var(--shadow-dark-2);
  }

  @media screen and (max-width: 480px) and (min-width: 300px) {
    .blog-title {
      font-size: 1.125rem;
    }
  }

  @media screen and (max-width: 480px) and (min-width: 300px),
    (min-width: 925px) and (max-width: 1024px),
    (min-width: 1405px) and (max-width: 1550px) {
    .blog-card:hover::before {
      transform: scale(30);
    }
  }

  @media screen and (min-width: 481px) and (max-width: 675px),
    (min-width: 1025px) and (max-width: 1404px),
    (min-width: 1551px) {
    .blog-card:hover::before {
      transform: scale(40);
    }

    .blog-card::before {
      transition: transform 0.45s ease-out;
    }
  }

  @media screen and (min-width: 675px) and (max-width: 860px) {
    .blog-card:hover::before {
      transform: scale(50);
    }

    .blog-card::before {
      transition: transform 0.5s ease-out;
    }
  }

  @media screen and (min-width: 860px) and (max-width: 924px) {
    .blog-card:hover::before {
      transform: scale(60);
    }

    .blog-card::before {
      transition: transform 0.5s ease-out;
    }
  }
}
