@layer components {
  .social-media-div {
    font-size: 2em;
  }

  .icon-button {
    margin-bottom: 10px;
  }

  .icon-button i {
    color: var(--color-text-dark);
    border-radius: 2.6rem;
    cursor: pointer;
    display: inline-block;
    font-size: 1.3rem;
    height: 2.6rem;
    line-height: 2.6rem;
    margin: 0 5px 10px;
    position: relative;
    text-align: center;
    user-select: none;
    width: 2.6rem;
    transition: background-color 0.2s ease-in, color 0.2s ease-in;
  }

  .facebook i {
    background-color: var(--social-facebook);
  }

  .linkedin i {
    background-color: var(--social-linkedin);
  }

  .github i {
    background-color: var(--social-github);
  }

  .gitlab i {
    background-color: var(--social-gitlab);
  }

  .google i {
    background-color: var(--social-google);
  }

  .twitter i {
    background-color: var(--social-twitter);
  }

  .medium i {
    background-color: var(--social-medium);
  }

  .stack-overflow i {
    background-color: var(--social-stackoverflow);
  }

  .kaggle i {
    background-color: var(--social-kaggle);
  }

  .instagram i {
    background-color: var(--social-instagram);
  }

  .icon-button i:hover {
    background-color: var(--color-text);
  }

  @media (max-width: 768px) {
    .social-media-div {
      text-align: center;
    }
  }
}
