@layer components {
  .contact-div-main {
    display: flex;
    gap: 2rem;
  }

  .contact-div-main > * {
    flex: 1;
  }

  .contact-title {
    font-size: 65px;
    font-weight: 400;
    margin: 0;
  }

  .contact-subtitle {
    text-transform: uppercase;
    color: var(--color-subtitle);
    margin-top: 12px;
  }

  .contact-text-div {
    margin-top: 1.5rem;
  }

  .contact-margin-top {
    margin-top: 4rem;
  }

  .contact-detail,
  .contact-detail-email {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    color: var(--color-subtitle);
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
  }

  .contact-detail:hover,
  .contact-detail-email:hover {
    color: var(--color-text);
    text-shadow: 2px 1px 2px var(--color-contact-hover);
  }

  .contact-image-div > img {
    max-width: 100%;
    height: auto;
    margin-left: 1.5rem;
    margin-top: -4rem;
  }

  .dark-mode a {
    color: var(--color-text-dark);
  }

  @media (max-width: 1380px), (max-width: 768px) {
    .contact-title {
      font-size: 40px;
      text-align: center;
    }

    .contact-subtitle {
      font-size: 16px;
      line-height: normal;
      text-align: center;
    }

    .contact-text-div {
      text-align: center;
      margin-top: 1.5rem;
    }

    .contact-detail,
    .contact-detail-email {
      font-size: 20px;
    }

    .contact-image-div {
      display: none;
    }

    .contact-div-main {
      flex-direction: column;
      align-items: center;
    }
  }
}
