@layer components {
  .talk-card-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .talk-card-container .container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .rectangle {
    background-image: url(../../../../assets/images/talksCardBack.svg);
    background-size: cover;
    background-position: center;
    width: 23.75rem;
    height: 18.75rem;
    border-radius: 0.25rem;
    box-shadow: 0 20px 50px var(--shadow-dark);
    transition: box-shadow 0.3s ease;
    margin-top: 3.125rem;
    position: relative;
    overflow: hidden;
  }

  .rectangle:hover {
    box-shadow: 0 20px 40px var(--shadow-light-darker);
  }

  .dark-rectangle {
    box-shadow: 0 0 20px 0 var(--shadow-light-darker);
  }

  .talk-card-title {
    color: var(--color-text-dark);
    margin: 25px auto 0;
    padding: 0 30px 40px;
    font-size: 1.625rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: left;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .talk-card-subtitle {
    margin-top: 35px;
    padding: 0 30px;
    font-size: 1rem;
    line-height: 1.125rem;
    color: var(--color-talk-subtitle);
    text-align: justify;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .card-footer-button-div {
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
    padding: 0 24px 24px;
    gap: 0.5rem;
  }

  .talk-button {
    background-color: var(--color-button);
    color: var(--color-text-dark);
    width: 90px;
    padding: 10px 18px;
    border-radius: 3px;
    text-align: center;
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .talk-button:hover {
    background-color: var(--color-button-hover);
  }

  .dark-mode .rectangle {
    box-shadow: 0 0 20px 0 var(--shadow-dark-2);
  }

  .dark-mode .talk-card-subtitle,
  .dark-mode .talk-card-title {
    color: var(--color-text-dark);
  }

  @media (max-width: 768px) {
    .rectangle {
      width: 100%;
      max-width: 23.75rem;
      height: auto;
      padding-bottom: 30px;
    }

    .talk-card-title {
      margin-top: 30px;
    }

    .card-footer-button-div {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}
