@layer components {
  .experience-cards-div {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 1rem;
  }

  .experience-heading {
    font-size: 56px;
    font-weight: 400;
    margin: 0;
  }

  .experience-container {
    display: flex;
    width: 90%;
    padding: 20px 10px;
    margin: 2rem auto 0;
    animation: fadeInUp 0.8s ease-in-out;
    gap: 2rem;
  }

  .experience-container > * {
    flex: 1;
  }

  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media (max-width: 1380px) {
    .experience-heading {
      font-size: 40px;
    }
  }

  @media (max-width: 768px) {
    .experience-heading {
      font-size: 30px;
      text-align: center;
    }

    .experience-container {
      flex-direction: column;
    }
  }
}
