@layer components {
  .skills-main-div {
    display: flex;
    width: 100%;
    overflow: hidden;
    gap: 2rem;
  }

  .skills-main-div > * {
    flex: 1;
    margin-bottom: 30px;
  }

  .skills-text-div {
    margin-left: 50px;
  }

  .skills-image-div > img {
    max-width: 100%;
    height: auto;
  }

  .skills-heading {
    font-size: 56px;
    font-weight: 400;
    margin: 0;
  }

  .skills-text,
  .skills-text-subtitle,
  .subTitle {
    color: var(--color-subtitle);
  }

  @media (max-width: 1380px) {
    .skills-heading {
      font-size: 40px;
    }
  }

  @media (max-width: 768px) {
    .skills-heading {
      font-size: 30px;
      text-align: center;
    }

    .skills-main-div {
      flex-direction: column;
    }

    .skills-text-div {
      margin: 20px;
      margin-left: 0;
    }

    .skills-text,
    .skills-text-subtitle {
      font-size: 16px;
      text-align: center;
    }

    .skills-image-div {
      order: 2;
    }
  }
}
