@layer components {
  .education-card {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
  }

  .education-card-left {
    flex-shrink: 0;
  }

  .education-card:hover + .education-card-border {
    border-color: var(--color-education-border);
    width: 100%;
    transition: width 0.6s ease-in-out, border-color var(--v2-transition-base);
  }

  .education-card-border {
    height: 30px;
    width: 80%;
    border-top: 2px solid var(--color-border-light);
    margin-bottom: 20px;
    transition: width 0.6s ease-in-out, border-color var(--v2-transition-base);
  }

  .education-head {
    display: flex;
    flex-direction: row;
  }

  .education-text-school {
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 27px;
  }

  .education-roundedimg {
    object-fit: cover;
    margin-right: 2rem;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 0.5rem 1rem var(--shadow-light-darker);
    border-radius: 50%;
  }

  .education-card-right {
    max-width: 70%;
  }

  .education-text-subHeader {
    color: var(--color-text);
    font-weight: 700;
    font-size: 19px;
    margin: 0;
    padding-top: 0.8rem;
    line-height: normal;
  }

  .education-text-duration {
    color: var(--color-title);
    font-size: 19px;
    margin: 0;
    padding-top: 0.5rem;
  }

  .education-text-desc {
    margin: 0.5rem 0;
  }

  .education-text-bullets > ul {
    margin-top: 0.5rem;
  }

  @media (max-width: 1380px) {
    .education-card {
      flex-direction: column;
      padding-bottom: 10px;
      text-align: center;
    }

    .education-card-right {
      max-width: 90%;
    }

    .education-card-border {
      width: 90%;
    }

    .education-text-subHeader {
      padding-top: 0.5rem;
      font-size: 16px;
    }

    .education-text-school {
      font-size: 20px;
      height: 23px;
    }

    .education-text-duration {
      font-size: 16px;
    }

    .education-roundedimg {
      width: 4rem;
      height: 4rem;
      margin-bottom: 0.5rem;
      margin-right: 0;
    }
  }

  @media (max-width: 768px) {
    .education-card-right {
      max-width: 100%;
    }

    .education-card-border {
      width: 100%;
    }

    .education-roundedimg {
      margin-top: 10px;
      width: 4rem;
      height: 4rem;
      margin-bottom: 1rem;
      margin-right: 0;
    }

    .education-text-bullets > ul {
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
