@layer components {
  .main,
  .greet-main {
    width: 90%;
    padding: 20px 10px;
    margin: 0 auto;
  }

  .main {
    margin-top: 4rem;
  }

  .greet-main {
    margin-top: 2rem;
  }

  .greeting-main {
    display: flex;
    gap: 2rem;
  }

  .greeting-main > * {
    flex: 1;
    margin-bottom: 30px;
  }

  .subTitle {
    color: var(--color-subtitle) !important;
  }

  .button-greeting-div {
    display: flex;
    margin-top: 20px;
    gap: 16px;
    flex-wrap: wrap;
  }

  .greeting-text {
    font-size: 70px;
    line-height: 1.1;
    color: var(--color-text) !important;
    margin: 0;
  }

  .greeting-text-p {
    font-size: 30px;
    line-height: 40px;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .greeting-image-div > img {
    max-width: 100%;
    height: auto;
  }

  .wave-emoji {
    display: inline-block;
    animation: wave 1.8s infinite;
    transform-origin: 70% 70%;
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(-10deg);
    }
    20% {
      transform: rotate(12deg);
    }
    30% {
      transform: rotate(-10deg);
    }
    40% {
      transform: rotate(9deg);
    }
    50% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @media (max-width: 1380px) {
    .greeting-text {
      font-size: 50px;
    }

    .greeting-text-p {
      font-size: 20px;
    }
  }

  @media (max-width: 768px) {
    .button-greeting-div {
      justify-content: center;
    }

    .greeting-text {
      font-size: 24px;
      text-align: center;
    }

    .greeting-text-p {
      font-size: 16px;
      line-height: normal;
      text-align: center;
    }

    .greeting-main {
      flex-direction: column;
      text-align: center;
    }

    .greeting-image-div {
      height: 256px;
    }
  }

  @media (max-width: 320px) {
    .main {
      width: auto;
    }
  }
}
